# Eclipse
.classpath
.project
.settings/
/src/main/resources/static
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

# Carpetas de compilado de sencha y netbeans
src/test
src/main/resources/static
/nbproject/